* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  display: block;
  top: 0;
  background-color: rgb(229, 229, 229);
  width: 100%;
  padding: 10px;
}

h1 {
  font-family: Segoe UI, sans-serif;
  color: rgb(25, 25, 25);
}

#destaque-titulo {
  color: rgb(234, 48, 88);
}

#div-foto {
  margin: 80px auto 10px;
  width: 50%;
}

#minha_foto {
  border-radius: 100%;
  width: 200px;
  margin: auto;
  display: block;
}
