* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Segoe UI, sans-serif;
}

#cabecalho {
  position: fixed;
  display: block;
  top: 0;
  background-color: rgb(223, 223, 223);
  width: 100%;
  padding: 10px;
}

h1 {
  color: rgb(25, 25, 25);
}

.destaque {
  color: rgb(234, 48, 88);
}

#section-foto {
  margin: 80px auto 10px;
  width: 50%;
  text-align: center;
}

#minha_foto {
  border-radius: 100%;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

ol , ul {
  text-align: left;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#licoes_a_aprender {
  list-style: square;
}

.inline {
  display: inline-block;
  margin: auto;
  width: 300px;
}

#section-foto section p {
  font-weight: 800;
  margin-top: 10px;
}

#section-foto section {
  background-color: rgb(248, 209, 217);
}

#links {
  text-align: justify;
  margin-bottom: 10px;
}

nav {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(234, 48, 88);
}

a {
  color: rgb(41, 30, 32);
  text-decoration: none;
  border-bottom: 2px solid lightgray;
}

a:hover {
  color: rgb(234, 48, 88);
  border-color: rgb(234, 48, 88);
}

main {
  margin: 20px auto;
  text-align: center;
  line-height: 25px;
}

#article {
  margin: 0 15px;
  border: 1px dotted darkgray;
  padding: 15px;
  text-align: justify;
  width: 700px;
}

h2 {
  margin: 15px auto 10px;
  color: rgb(234, 48, 88);
}

aside {
  border: 1px dotted darkgray;
  padding: 15px;
  text-align: justify;
  width: 300px;

}

.lado-esquerdo {
  display: inline-block;
  vertical-align: top;
}

.lado-direito {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

#section-tabela {
  margin: 80px auto 10px;
  width: 50%;
  text-align: center;
}

table {
  border: 1px solid darkgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

table tr td {
  border: 1px solid darkgray;
}


footer {
  padding: 10px;
  background-color: rgb(233, 233, 233);
  display: block;
}
