* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Segoe UI, sans-serif;
}

#cabecalho {
  position: fixed;
  display: block;
  top: 0;
  background-color: rgb(229, 229, 229);
  width: 100%;
  padding: 10px;
}

h1 {
  color: rgb(25, 25, 25);
}

.destaque {
  color: rgb(234, 48, 88);
}

#section-foto {
  margin: 80px auto 10px;
  width: 50%;
  text-align: center;
}

#minha_foto {
  border-radius: 100%;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
}

ol , ul {
  text-align: left;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}

#licoes_a_aprender {
  list-style: square;
}

.inline {
  display: inline-block;
  margin: auto;
  width: 300px;
}

#section-foto section p {
  font-weight: 800;
  margin-top: 10px;
}

#section-foto section {
  background-color: rgb(248, 209, 217);
}

#links {
    text-align: justify;
    margin-bottom: 20px;
}

a {
    color: rgb(25, 25, 25);
    text-decoration: none;
    border-bottom: 2px solid #d3d3d3;
} a:hover {
    border-color: rgb(234, 48, 88);
}
